* {
    padding: 0;
    margin: 0
}

.container-fluid {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: url('./background-blur-clean-531880.jpg') no-repeat;
    background-size: cover;
}

.whiteBackground {
    height: 100vh;
    width: 100%;
    background-color: #eeeeee;
}

.background {
    animation: myAnime 1s forwards 0s ease-in-out;
    width: 100%;
    height: 70vh;
    background: linear-gradient( #ff5f6d, #ffc371);
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 30%;
    border-bottom-right-radius: 30%;
    margin: calc((30vh)/2) 0;
    padding: 12% 50px;
    overflow: hidden;
    color: black;
}

.background h1 {
    text-align: center;
    animation: textAnime 2s forwards 0s ease-out;
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 25px;
    border-bottom: #fce 2px solid;
}

@keyframes myAnime {
    from {
        transform: translateY(15%);
        opacity: 0;
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes textAnime {
    from {
        opacity: 0;
        display: none;
    }
    to {
        opacity: 1;
        display: block;
    }
}

.form-group {
    position: relative;
    margin-bottom: 1.5rem;
}

.form-control-placeholder {
    position: absolute;
    top: 0;
    padding: 7px 0 0 13px;
    transition: all 200ms;
    opacity: 0.5;
}

.form-control:focus+.form-control-placeholder,
.form-control:valid+.form-control-placeholder {
    font-size: 75%;
    transform: translate3d(0, -100%, 0);
    opacity: 1;
}

.formGroupWidener {
    width: 100%;
}