@font-face {
    font-family: Ubuntu-Regular;
    src: url('./fonts/ubuntu/Ubuntu-Regular.ttf');
}

@font-face {
    font-family: Ubuntu-Bold;
    src: url('./fonts/ubuntu/Ubuntu-Bold.ttf');
}

* {
    padding: 0;
    margin: 0
}

body {
    background-image: url('./images/background-blur-clean-531880.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Ubuntu-Bold
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #000;
    opacity: 0.65;
    z-index: -2;
}

.container {
    text-align: center;
    z-index: 2;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin-top: calc((100vh - 425px)/2);
}

.container h1 {
    color: white;
    font-family: Ubuntu-Bold;
    font-weight: 400;
    text-transform: uppercase;
}

.mainContainer {
    background-color: #fff;
    height: 330px;
    width: 390px;
    border-radius: 15px;
    margin: 40px auto
}