body {
    background: url('./background-blur-clean-531880.jpg');
    background-size: cover;
}

.clearing {
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    opacity: 0.4
}

.container-fluid {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.background {
    width: 100%;
    height: 600px;
    background-color: #ddd;
    border-radius: 25px;
    margin-top: calc((100vh - 600px)/2);
}

.whiteBackground {
    height: 100vh;
    width: 100%;
    background-color: #eeeeee;
}